<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/GmarketSansTTFBold.otf</string>
		<string>Fonts/GmarketSansTTFLight.otf</string>
		<string>Fonts/GmarketSansTTFMedium.otf</string>
		<string>Fonts/Pretendard-Bold.otf</string>
		<string>Fonts/Pretendard-ExtraBold.otf</string>
		<string>Fonts/Pretendard-ExtraLight.otf</string>
		<string>Fonts/Pretendard-Light.otf</string>
		<string>Fonts/Pretendard-Medium.otf</string>
		<string>Fonts/Pretendard-Regular.otf</string>
		<string>Fonts/Pretendard-SemiBold.otf</string>
		<string>Fonts/Pretendard-Thin.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>RecordingSound</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
